extends page
block party
  body#home-body
    .container.text-center
      #jumboedit.jumbotron.vertical-center
        h1(style="font-size: 100px; color: 'white'") WELCOME TO WIZARD'S CHESS
        p
          a.btn.btn-light(type='button', role='button', onclick="loadplay()") PLAY CHESS
          .divider
          a.btn.btn-light(role='button') ABOUT
  script(src='/js/redir.js')
