extends page
block party
  body#home-body
    .container.text-center
      #homepagejumbo.jumbotron.vertical-center
        h1(style="font-size: 100px;") WELCOME TO WIZARD'S CHESS
        .btn-toolbar
          button.btn.btn-light(type='button', role='button', onclick="loadplay()") PLAY CHESS
          button.btn.btn-light(type='button') ABOUT
  script(src='/js/redir.js')
