doctype html
html
    head
        title= "Wizard's Chess"
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/css/chessboard-0.3.0.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='/js/chessboard-0.3.0.min.js')
        script(src='/js/chess.min.js')

    body
        #board(style='width:500px; left-margin: auto; right-margin: auto')
        script(src='/js/chessapp.js')
